<h1>
  {{title}}
</h1>

<button type="button" routerLink="/dashboard">Route Guard Dashboard (Requires login)</button>
<button type="button" routerLink="/login">Login</button>
<button type="button" routerLink="/customer">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="/parent">Parent</button>
<button type="button" routerLink="/trackby">TrackBy</button>
<button type="button" routerLink="/virtualscroll">VirtualScroll</button>
<button type="button" routerLink="/webworker">WebWorker</button>
<button type="button" routerLink="/signalstate">Signal State Management</button>
<button type="button" routerLink="/subjectstate">Subject State Management</button>
<button type="button" routerLink="/ngrxstate">NGRX State Management</button>
<button type="button" routerLink="/rxjs">Reactive programming with RXJS</button>
<button type="button" routerLink="/testapi">Test API</button>
<button type="button" routerLink="/parallelapicall">Parallel API call</button>
<button type="button" routerLink="/parentditest">DI Hierarchy Test</button>
<button type="button"routerLink="/feature-test">Feature Test(useFacTory)</button>
<button type="button"routerLink="/remote-dashboard">Remote Dashboard</button>
<button type="button"routerLink="/web-component">Web Component demo</button>
<button type="button" routerLink="">Home</button>

<router-outlet></router-outlet>