<h1>
  {{title}}
</h1>

<button type="button" routerLink="/customer">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="/parent">Parent</button>
<button type="button" routerLink="/trackby">TrackBy</button>
<button type="button" routerLink="/virtualscroll">VirtualScroll</button>
<button type="button" routerLink="/webworker">WebWorker</button>
<button type="button" routerLink="/signalstate">Signal State Management</button>
<button type="button" routerLink="/subjectstate">Subject State Management</button>
<button type="button" routerLink="/ngrxstate">NGRX State Management</button>
<button type="button" routerLink="">Home</button>

<router-outlet></router-outlet>